<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>美食</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>电影</string>
		<key>image</key>
		<string>icon_homepage_movieCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>酒店</string>
		<key>image</key>
		<string>icon_homepage_hotelCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>KTV</string>
		<key>image</key>
		<string>icon_homepage_KTVCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>优惠买单</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>周边游</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>预定早餐</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>外卖</string>
		<key>image</key>
		<string>icon_homepage_takeoutCategory.png</string>
	</dict>

	<dict>
		<key>title</key>
		<string>美食</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>电影</string>
		<key>image</key>
		<string>icon_homepage_movieCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>酒店</string>
		<key>image</key>
		<string>icon_homepage_hotelCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>KTV</string>
		<key>image</key>
		<string>icon_homepage_KTVCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>优惠买单</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>周边游</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>预定早餐</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>外卖</string>
		<key>image</key>
		<string>icon_homepage_takeoutCategory.png</string>
	</dict>
</array>
</plist>
