<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>扫一扫</string>
	</array>
	<array>
		<string>省流量模式</string>
		<string>消息提醒</string>
		<string>分享设置</string>
		<string>邀请好友使用美团</string>
		<string>清空缓存</string>
	</array>
	<array>
		<string>意见反馈</string>
		<string>支付帮助</string>
		<string>网络诊断</string>
		<string>关于美团</string>
		<string>我要应聘</string>
	</array>
	<array>
		<string>精品应用</string>
	</array>
</array>
</plist>
